/* Reset dasar */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
}

/* Navbar */
nav {
    background-color: #2c3e50;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Container */
.container {
    max-width: 800px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

/* Profil */
.profile-header {
    text-align: center;
}

.profile-header img {
    width: 150px;
    border-radius: 50%;
}

/* Galeri */
.gallery img {
    width: 30%;
    margin: 1%;
    border-radius: 8px;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}

footer p {
    margin: 5px 0;
    font-size: 14px;
}

footer a {
    color: #1abc9c;
    text-decoration: none;
    margin: 0 8px;
}

footer a:hover {
    text-decoration: underline;
}
